%base {
    --radius: 10px;
    --avatar-border: 3px;

    --dialog-bg: 13.40, 15.10, 18.50, 0.6;
    --dialog-bg--hover: var(--nord1);
    --dialog-color: var(--nord4);

    /* vars for the color of icons:hover */
    --icon--hover: var(--nord9);
    --logout--hover: var(--nord11);

    /* online status */
    // --offline: var(--nord3);
    --online: var(--nord14);
    --away: var(--nord13);
    --do-not-disturb: var(--nord11);

    --aurora--blue: var(--nord9);
    --aurora--red: var(--nord11);
    --aurora--orange: var(--nord12);
    --aurora--yellow: var(--nord13);
    --aurora--green: var(--nord14);
    --aurora--purple: var(--nord15);
    --aurora-color: var(--nord6);

    --aurora--green--rgb: 163, 190, 140;
    --aurora--red--rgb: 191, 97, 106;
}
