@forward "./base";
@forward "./nord";

.nord-dark {
    @extend %base;
    @extend %nord;

    --bg: var(--nord1);
    --bg-block: var(--nord0);
    --bg-block--highlight: var(--nord1);
    --bg-chat: var(--nord0a);

    --color: var(--nord4);
    --color-lighter: var(--nord4a);

    --message-bg--me: #2f3d4a;
    --message-bg--friend: #182533;
    --message-color: white;

    /* default variables for the default btn */
    --btn-bg: var(--nord1);
    --btn-color: var(--nord9);

    --offline: var(--nord3);

    --bg-userlist--active: var(--nord1);
    --bg-userlist--hover: var(--nord2);
}
