@use "../../sass/props/block";

.chatcontainer {
    @extend %block-element;
    display: flex;
    flex-direction: column;
}

.chatcontainer__main {
    display: flex;
    flex-direction: column;
    // height: 100%;
    flex-grow: 1;
}

