@use "../../sass/modules/selectable";

.message {
    @extend .selectable;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 0.2rem;
    gap: 0.2rem;
    color: var(--message-color);
}

.message--me {
    flex-direction: row-reverse;

    .message__bubble {
	border-radius: var(--radius) var(--radius) 0 var(--radius);
	background-color: var(--message-bg--me)
    }

    .message__bubble__date {
	text-align: start;
    }
}

.message--grouped {
    .message__avatar {
	filter: opacity(0);
    }
    .message__bubble {
	border-radius: var(--radius);
    }
}

.message__avatar {
    width: 50px;
    height: 50px;
    border-radius: var(--radius);
    border: 3px solid var(--aurora--blue);
}

.message__bubble {
    border-radius: var(--radius) var(--radius) var(--radius) 0;
    background-color: var(--message-bg--friend);
    padding: 1rem;
    width: fit-content;
}

.message__bubble__content {
    white-space: pre-wrap;
    word-break: break-word;
    font-size: 1rem;
}

.message__bubble__date {
    display: inline-block;
    width: 100%;
    text-align: end;
    margin-top: 1rem;
    filter: opacity(0.5);
}

.messages__divider {
    width: 100%;
    border-top: 1px solid var(--color-lighter);
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    position: relative;
    span {
        position: absolute;
        top: -0.5rem;
        background-color: var(--bg-chat);
        color: var(--color-lighter);
        padding: 0 1rem;
        font-size: 0.7rem;
    }
}
