$animation_length: 0.2s;

.searchmessages {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px) brightness(0.8);
    padding: 1rem;

    /* move module to the right side */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    /* mount animation */
    transition: backdrop-filter 2s ease-in;
}

.searchmessages__module {
    background-color: var(--bg-block);
    border-radius: var(--radius);
    height: 100%;
    width: 500px;

    /* mount animation */
    animation: slidein_searchmessages $animation_length ease-in;
}

@keyframes slidein_searchmessages {
    from {
        transform: translateX(110%);
    }
    to {
        transform: translateX(0%);
    }
}
