.form {
    font-size: 1rem;
    font-family: interface;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-block);
    border-radius: 10px;
}

.form__title {
    color: var(--color);
    margin-bottom: 1rem;
    text-align: center;
}

%form__message {
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
}

.form__error {
    @extend %form__message;
    background-color: var(--aurora--red);
    color: var(--aurora-color);
}

.form__success {
    @extend %form__message;
    background-color: var(--aurora--green);
    color: var(--aurora-color);
}
