.form__input {
    background-color: var(--bg);
    margin: 1rem 0;
    border-radius: 10px;

    position: relative;
    display: flex;
    align-content: center;
    height: 4rem;

    label {
	position: absolute;
	color: var(--color-lighter);
	top: 1.2rem;
	left: 1rem;
    }

    input {
	border: none;
	font-size: 1rem;
	width: 100%;
	padding: 0.5rem;
	padding-top: 1rem;
	background-color: transparent;
	color: var(--color);
	outline: none;
   }
}

.form__input--focus {
    label {
	transform: translateY(-1rem) translateX(-0.4rem); 
	font-size: 0.8rem;
	transition: transform 0.2s ease-in, font-size 0.2s ease-in;
    }
}
