.changeprofileimagemodal__hint {
    background-color: var(--aurora--blue);
    padding: 1rem;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
}

.changeprofileimagemodal__hint__info {
    height: 2rem;
    width: 2rem;
    stroke: var(--aurora-color);
}

.changeprofileimagemodal__hint__content {
    color: var(--aurora-color);
}

.changeprofileimagemodal__preview {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 500px;
    width: 100%;
    border-radius: var(--radius);
}

.changeprofileimagemodal__preview__close {
    // background-color: var(--aurora--purple);
}

.changeprofileimagemodal__preview__image {
    /* This is on of the view times I managed that a img does fill out its parent component
     * it is such big achievement for me that I do not want to delete this code
     * and use it as a reference for the future:
     * max-height: inherit;
     * max-width: 100%;
     */
    margin-top: 1rem;
    border-radius: var(--radius);
    background-color: black;
    width: 200px;
    height: 200px;
    border: var(--avatar-border) solid var(--aurora--blue);
}

.changeprofileimagemodal__selectbtn {
    height: 200px;
}
