@use "./Modal";

.imagemodal {
    @extend .modal;
}

.imagemodal__window {
    @extend .modal__window;
    padding: 0;
    background-color: transparent;
    border: none;
}

.imagemodal__window__img {
    border-radius: calc(var(--radius) /2);
    border: 1px solid var(--bg);
    max-height: 90vh;
    max-width: 100%;
    width: auto;
    object-fit: contain;
}
