.modal__window__showprofile {
    // @extend %modal__window__props;

    .showprofile__topbar {
        display: flex;
        align-items: center;
	margin-bottom: 1rem;

        .showprofile__topbar__avatar {
            height: 80px;
            width: 80px;
            border-radius: 10px;
            border: var(--avatar-border) solid var(--offline);
            margin-right: 1rem;
        }

	.showprofile__topbar__userinfo {
	    display: flex;
	    flex-direction: column;
	    .showprofile__topbar__username {
		font-size: 1.5rem;
            }
	    .showprofile__topbar__registerdate {
		font-size: 1rem;
		color: var(--color-lighter);
	    }
	}
   }

    .showprofile__form {
	display: flex;
	align-content: center;
	.showprofile__form__sendfield {
	    height: 3rem;
	    width: 100%;
	    border: none;
	    font-size: 1rem;
	    font-family: chat;
	    background-color: var(--bg);
	    color: var(--color);
	    margin-right: 0.2rem;
	    padding: 1rem;
	    border-radius: 5px 0 0 5px;
	    &:focus {
		outline: none;
	    }
	}
	.showprofile__form__submit-btn {
	    cursor: pointer;
	    border: none;
	    background-color: var(--bg);
	    border-radius: 0 5px 5px 0;
	    height: 3rem;
	    width: 3rem;
	    svg {
		stroke: var(--color-lighter);
	    }
	    &:hover {
		svg {
		    stroke: var(--color);
		    transition: stroke .1s ease-in;
		}
	    }
	}
    }
}
