.connectionlostsplashscreen {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background-color: var(--bg);
    font-size: 2rem;
    font-weight: bold;
    color: var(--color);
};

.connectionlostsplashscreen__illustration {
    max-width: 500px;
};
