@use "../../sass/props/useritem";

.fuzzyusers {
    @extend %userlist;
    margin-top: 2rem;
}

.fuzzyusers__user {
    @extend %userlist__useritem;
    cursor: default !important;
}

.fuzzyusers__user__avatar {
    @extend %userlist__useritem__avatar;
}

.fuzzyusers__user__name {
    @extend %userlist__useritem__name;
}

.fuzzyusers__user__actions {
    @extend %userlist__useritem__actions;
}

.fuzzyusers__user__actions__default {
    @extend %userlist__useritem__actions__default;
    cursor: pointer;
}

.fuzzyusers__user__actions__red {
    @extend %userlist__useritem__actions__red;
    cursor: pointer;
}

.fuzzyusers__user__actions__green {
    @extend %userlist__useritem__actions__green;
    cursor: pointer;
}

