@use "../../sass/props/item";
@use "../../sass/props/avatar";

.pendingitem {
    @extend %item;
    justify-content: space-between;
    cursor: default !important;
    &:hover {
        .pendingitem__name {
            color: var(--color);
        }
    }
}

.pendingitem__leftside {
    display: flex;
    align-items: center;
}

.pendingitem__rightside {
    display: flex;
    align-items: center;
}

.pendingitem__pic {
    @extend %avatar;
    border: var(--avatar-border) solid gray;
}

.pendingitem__name {
    font-size: 1rem;
    color: var(--color-lighter);
}

%pendingitem__btn {
    stroke: var(--color-lighter);
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 0.8rem;
    border-radius: 100%;
    &:hover {
        transition: stroke .2s ease-in, background-color .2s ease-in;
    }
}

.pendingitem__accept {
    @extend %pendingitem__btn;
    &:hover {
        background-color: rgba(31, 142, 31, 0.2);
        stroke: #128a12;
    }
}

.pendingitem__decline {
    @extend %pendingitem__btn;
    &:hover {
        background-color: rgba(189, 16, 16, 0.2);
        stroke: #ab2424;
    }
}

.pendingitem__msg {
    color: var(--color-lighter);
    margin-right: 1rem;
}
