.createpost {
    position: relative;
    display: grid;
    grid-template-rows: auto 4rem;
    height: 100%;
    padding: 1rem;
    // padding-top: 4rem;
}

.createpost--submitting {
    cursor: progress;
}

.createpost__closebutton {
    right: 1rem;
    left: auto;
}

.createpost__main {
    display: grid;
    grid-template-rows: 5rem auto 1rem;
    cursor: inherit;
}

.createpost__main--with-gallery {
    @extend .createpost__main;
    grid-template-rows: 5rem 400px auto 1rem;
}

.createpost__main__header {
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.createpost__main__header__userimg {
    width: 60px;
    height: 60px;
    border: var(--avatar-border) solid var(--aurora--blue);
    border-radius: var(--radius); 
    margin-right: 1rem;
}

.createpost__main__header__username {
    margin-right: .5rem;
}

.createpost__main__header__date {
    color: var(--color-lighter);
}

.createpost__main__textarea {
    width: 100%;
    resize: none;
    padding-top: 1rem;
    line-height: 1.5rem;
    background: transparent;
    border: none;
    color: var(--color);
    font-size: 1rem;
    font-family: interface;
    cursor: inherit;
    &:disabled {
	filter: opacity(0.5);
	transition: filter .2s ease-in;
    }
    &:focus {
	outline: none;
    }
}

.createpost__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
