$height: 3.5rem;


.post__commentfield {
    display: flex;
    align-content: center;
    // margin: 1rem 0;
    height: $height;
    gap: 0.4rem;
}

.post__commentfield--submitting {
    filter: opacity(0.5);
    transition: filter .2s ease-in;
}

.post__commentfield__textarea {
    resize: none;
    font-family: interface;
    color: var(--color);
    font-size: 1rem;
    width: 100%;
    height: 100%;
    // max-height: 80%;
    // min-height: 80%;
    // height: 3rem;
    padding: 1rem;
    background-color: var(--bg-block);
    border: none;
    border-radius: var(--radius) 0 0 var(--radius);
    &:focus {
        outline: none;
    }
}

.post__commentfield__submit-btn {
    cursor: pointer;
    border: none;
    background-color: var(--bg-block);
    border-radius: 0 var(--radius) var(--radius) 0;
    height: 100%;
    width: $height;
    svg {
	stroke: var(--color-lighter);
    }
    &:hover {
	svg {
	    stroke: var(--color);
	    transition: stroke .1s ease-in;
	}
    }
}
