.post__header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.post__header__userimg {
    width: 60px;
    height: 60px;
    border: var(--avatar-border) solid var(--aurora--blue);
    border-radius: var(--radius); 
    margin-right: 1rem;
    cursor: pointer;
}

.post__header__username {
    margin-right: .5rem;
}

.post__header__date {
    color: var(--color-lighter);
}

