.post__like-section {
    display: flex;
    align-items: center;
}
.post__like-section__heartbutton {
    all: initial;
    color: var(--aurora--blue);
    margin-right: .5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    position: relative;
    top: 0.1rem;

    &:active {
        transform: scale(0.9);
    }

    svg {
	&:hover {
	    fill: var(--aurora--blue);
	    transition: fill .2s ease-in;
	}
    }
}

.post__like-section__heartbutton--liked {
    @extend .post__like-section__heartbutton;
    svg {
	fill: var(--aurora--red);
	stroke: var(--aurora--red);

	&:hover {
	    fill: var(--aurora--red);
	}
    }
}

.post__like-section__likes {
    color: var(--color);
}
