@use "../../sass/modules/selectable";

.post__content {
    @extend .selectable;
}

.post__content__text {
    margin: 1rem 0;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: justify;
    font-family: interface;
}
