@use "../../sass/props/block";

.timeline {
    @extend %block-element;
    display: grid;
    grid-template-rows: 4.5rem auto;
    padding: 0.7rem;
}

.timeline__header {
}

.timeline__header__content {
    display: flex;
    justify-content: space-between;
}

.timeline__header__title {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.5rem;
    svg {
        height: 30px;
        width: 30px;
        margin: 0 0.5rem
    }
}

.timeline__content {
    overflow-y: scroll;
    background-color: var(--bg-chat);
    border-radius: calc(var(--radius) /2);
    // padding: 1rem;
}
