.callwindow {
    // height of the call (preview) window
    height: 200px;
    min-height: 200px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #18181c;
    border-radius: calc(var(--radius) /2);
    margin: 5px;

    /* resizeable */
    resize: vertical;
    overflow: auto;

    container-type: inline-size;
    container-name: callwindow;
}

.callwindow__users {
    display: flex;
    justify-content: space-evenly;
}

