.layoutpicker {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.1rem;

    color: white;
    font-size: 1rem;
    opacity: 0.8;

    &:hover {
	opacity: 1;
	transition: opacity .1s ease-in;
    }

    svg {
	width: 1rem;
	height: 1rem;
	stroke: white;
    }
    // background-color: black;
}

.layoutpicker--show {
    @extend .layoutpicker;
}

.layoutpicker--hide {
    @extend .layoutpicker;
    display: none;
}

.layoutpicker__view {
    display: flex;
    align-items: center;

    width: min-content;
    // background-color: rgba(var(--dialog-bg));
    background-color: #18191c;
    padding: 0.7rem;
    gap: 1rem;
    border-radius: calc(var(--radius) /2);
    cursor: pointer;
}

.layoutpicker__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    // gap: 1rem;
    //  background-color: rgba(var(--dialog-bg));
    background-color: #18191c;
    padding: 0.2rem;
    border-radius: calc(var(--radius) /2);
    list-style: none;
}

.layoutpicker__list--show {
    @extend .layoutpicker__list;
}

.layoutpicker__list--hide {
    @extend .layoutpicker__list;
    display: none;
}

.layoutpicker__list__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: calc(var(--radius) /2);
    width: 100%;
    cursor: pointer;

    &:hover {
	background-color: var(--nord1);
        transition: background-color .1s ease-in;
        cursor: pointer;
    }
}
