.webcamvideo--video {
    height: 100%;
    width: 100%;
    object-fit: contain;

    border-radius: var(--radius);
}

.webcamvideo--img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: var(--radius);
}
