.timelinepreview {
    display: flex;
    flex-grow: 0.5;
    flex-basis: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-block--highlight); 
    color: var(--color);
    border-radius: var(--radius);
    font-size: 1rem;
    margin: 0 0.5rem 0 0;
    cursor: pointer;

    &:hover {
	filter: brightness(0.95);
	transition: filter .2s ease-in;
    }
}
