.directmessagesuserlistitem {
    /* list item inside a userlist */
    /* from item */
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0.2rem 0 0.2rem 0;
    padding: 0.7rem;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--color-lighter);

    &:hover {
        color: var(--color);
        background-color: var(--bg-userlist--hover);
        transition: background-color .2s ease-in, color .2s ease-in;
        cursor: pointer;

	.directmessagesuserlistitem__delete {
	    opacity: 1;
	}
    }
}

.directmessagesuserlistitem--active {
    background-color: var(--bg-userlist--active);
    color: var(--color);
}

.directmessagesuserlistitem__avatar {
    /* can be img or svg */
    /* from avatar */
    border-radius: 20%;
    height: 40px;
    width: 40px;
}

.directmessagesuserlistitem__avatar--blocked {
    filter: grayscale(1);
}

.directmessagesuserlistitem__name {
    /* username or label of the button */
    margin: 0 1rem;
}

.directmessagesuserlistitem__delete {
    position: absolute;
    right: 1rem;
    opacity: 0;
    stroke-width: 1px;
    stroke: var(--color-lighter);
    transition: opacity .2s ease-in, background-color .2s ease-in, stroke .2s ease-in;
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;

    &:not(&:nth-child(1)), .tooltip:not(&:nth-child(1)){
	margin-left: 0.5rem;
    }

    &:hover {
	background-color: rgba(var(--aurora--red--rgb), 0.2);
	stroke: var(--aurora--red)
    }
}
