@use "../../sass/props/block";

.lobby {
    @extend %block-element;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    animation: slidein_lobby 0.2s ease-in;
    overflow-y: scroll;
    overflow-x: hidden;

    min-width: 20rem;
    max-width: 20rem;
}

@keyframes slidein_lobby {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
