@use "../../sass/props/avatar";

.lobby__profilesection {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    background-color: var(--bg-block--highlight);
    border-radius: 10px;
    padding: 0.5rem;
}

.lobby__profilesection__profile {
    display: flex;
    align-items: center;
}

.profilesection__userimage {
    @extend %avatar;
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
}

.profilesection__username {
    font-family: interface;
    font-size: 1.5em;
    margin-left: 10px;
    max-width: 100px;
    overflow-x: hidden;
    color: var(--color);
}

.lobby__profilesection__btns {
    display: flex;
}

.lobby__profilesection__btns__logout {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 0.2rem;
    &:hover {
        stroke: var(--logout--hover);
        transition: transform .1s ease-in, stroke 0.1s ease-in;
        polyline, line {
	    @extend .bouncing;
        }
    }
}

.lobby__profilesection__btns__settings {
    height: 30px;
    width: 30px;
    margin: 0 0.2rem;
    cursor: pointer;
    &:hover {
        stroke: var(--icon--hover);
        transition: stroke 0.2s ease-in;
	@extend .rotating;
    }
}

.rotating {
  -webkit-animation: rotating 8s linear infinite;
  -moz-animation: rotating 8s linear infinite;
  -ms-animation: rotating 8s linear infinite;
  -o-animation: rotating 8s linear infinite;
  animation: rotating 8s linear infinite;
}

/* Animation */
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.bouncing {
  -webkit-animation: bouncing 1s linear infinite;
  -moz-animation: bouncing 1s linear infinite;
  -ms-animation: bouncing 1s linear infinite;
  -o-animation: bouncing 1s linear infinite;
  animation: bouncing 1s linear infinite;
}

@-webkit-keyframes bouncing {
  0% {
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0.1rem);
    -o-transform: translateX(0.1rem);
    transform: translateX(0.1rem);
  }
  100% {
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bouncing {
  0% {
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -ms-transform: translateX(0.1rem);
    -moz-transform: translateX(0.1rem);
    -webkit-transform: translateX(0.1rem);
    -o-transform: translateX(0.1rem);
    transform: translateX(0.1rem);
  }
  100% {
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

