%block-element {
    flex-grow: 1;

    font-family: interface;
    min-height: fit-content;
    border-radius: calc(var(--radius) /2);
    background-color: var(--bg-block);
    margin: 0.2rem;
    animation: slidein_bigblock 0.2s ease-in;
}

@keyframes slidein_bigblock {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
