%item {
    display: flex;
    align-items: center;
    margin: 0.2rem 0 0.2rem 0;
    padding: 0.7rem;
    background-color: var(--ui-bg);
    border-radius: 10px;
    font-size: 1rem;
    color: var(--color-lighter);
    &:hover {
        color: var(--color);
        background-color: var(--userlist-bg--hover);
        transition: background-color .2s ease-in;
        cursor: pointer;
    }
}
