@use "./ProfileSettings";

.about {
    @extend .profilesettings;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about__logo {
    max-height: 200px;
    max-width: 200px;
    width: min-content;
    height: min-content;
}

.about__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__description__appname {
    display: flex;
    flex-wrap: flex;
    align-items: baseline;
    gap: 0.5rem;

    font-size: 2rem;
    font-weight: bold;
    color: var(--aurora--blue);
}

.about__description__appname__version {
    font-size: 1rem;
    color: var(--color-lighter);
}

.about__description__package {
    
}

.about__description__vision {
}

.about__description__license {
    a {
	color: var(--aurora--blue);
    }
}
.about__description__website {
    a {
	color: var(--aurora--blue);
    }
}

.about__description__author {
    color: var(--color-lighter);
}
