@use "./ProfileSettings";

.clientsettings {
    @extend .profilesettings;
    font-size: 1rem;
}

.clientsettings__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.clientsettings__section__theme {
    margin-right: 1rem;
}

.clientsettings__section__themechanger {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid var(--bg);
    border-radius: var(--radius);
    background: transparent;
    color: var(--color);
    width: 100%;

    &:focus {
	outline: none;
    }

    option {
	background-color: var(--bg);
    }
}
