.status--online {
    border: var(--avatar-border) solid var(--online);
}
.status--offline {
    border: var(--avatar-border) solid var(--offline);
}
.status--away {
    border: var(--avatar-border) solid var(--away);
}
.status--dnd {
    border: var(--avatar-border) solid var(--do-not-disturb);
}
